.app {
  position: relative;
  transition: all 0.3 ease-out;
}

.tag {
  font-weight: bold;
  color: var(--secondary-color);
}
.title {
  margin: 0;
  font-weight: 900;
  font-size: 30px;
  color: var(--text-color-dark);
}
.des {
  font-weight: 300;
}

@media (max-width: 768px) {
  .title {
    font-size: 15px;
  }
}
